In [1]:
import pandas as pd

In [2]:
list=[1,2,3,4,5,6]
print(list)

[1, 2, 3, 4, 5, 6]

In [3]:
series1=pd.Series(list)
series1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [8]:
series2=pd.Series([1,2,3,4,5,6])
series2

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [9]:
series2=pd.Series([1,2,3,4,5,6],dtype=float)
series2

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

In [10]:
series2=pd.Series([1,2,3,4,5,6],dtype=float,name="data_value")
series2

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
Name: data_value, dtype: float64

In [11]:
series2=pd.Series([1,2,3,4,5,6],dtype=float,name="data_value",index=['a','b','c','d','e','f'])
series2

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
Name: data_value, dtype: float64

In [12]:
s4=pd.Series({'a':1,'b':2})
s4

a    1
b    2
dtype: int64

In [13]:
s5=pd.Series([1,2,3,4,5])
s5

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
s5[2]

3

In [15]:
s5[0:4]

0    1
1    2
2    3
3    4
dtype: int64

In [17]:
s5[0:2]

0    1
1    2
dtype: int64